footer{
    background-color:rgb(124, 0, 0);
    padding: 20px;
    margin: 50px 0px 50px 0px;
    height: 300px;
}
h3{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin: 40px;
}
.iconos{
    width: 75px;
    margin: 20px 90px;
}
.botones{
    display: flex;
    margin: 10px;
    color: black;
    background-color: brown;
    width: 200px;
    text-align: center;
}
.centro{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: blue;
    color: white;
}
.bodySesion{
    height: 500px;
    display: flex;
    align-items: center;
}
h2{
    padding: 20px;
}
form{
    padding: 20px;
    align-items: center;
}
label{
    color:white;
}
input{
    color: black;
}  