.plataformasCuatro{
    border: 1px solid yellow;
    margin: 50px 15px 25px 15px;
    font-size: 38px;
    padding: 20px;
}
h2{
    font-size: 35px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.juego{
    width: 550px;
    margin: 30px;
    border: 5px double white;
    border-radius: 30px;
}
.sipnosis{
    font-size: 28px;
    display: flex;
    align-items: center;
    margin: 20px;
    text-align:justify;
}
